<!DOCTYPE html>
<html ng-app="twdbwed">
<head>
	<title>How TwoWay Data Binding Works</title>
	<script type="text/javascript" src="../lib/angular.js"></script>
	<script type="text/javascript" src="../js/twowaydatabindingwitherrordisplay.js"></script>
</head>
<body>

	<!--for data entering -->
	<div ng-controller="TwoWayDBWEController">
		<form name="myForm" method="post">
			<table>
				<tr>
					<td>First Name</td>
					<td><input type="text" name="firstname" ng-model="firstName" ng-minlength="3" ng-maxlength="15" required="">
						<span style="color:red">
							<span ng-show="myForm.firstname.$error.required">First Name required</span>
							<span ng-show="myForm.firstname.$error.minlength">Please Provide 3 characters</span>
							<span ng-show="myForm.firstname.$error.maxlength">Max limit 15 characters</span>
						</span>
					</td>
				</tr>
				<tr>
					<td>Last Name</td>
					<td>
						<input type="text" name="lastname" ng-model="lastName" ng-minlength="3" maxlength="15" required="">
						<span style="color: red">
							<span ng-show="myForm.lastname.$error.required">Last Name required</span>
							<span ng-show="myForm.lastname.$error.maxlength">Max limit 15 characters</span>
							<span ng-show="myForm.lastname.$error.minlength">At least 3 characters required</span>
						</span>
					</td>
				</tr>
				<tr>
					<td>Email Id:</td>
					<td>
						<input type="email" name="email" ng-model="userEmail" required="">

						<span style="color: red">

							<span ng-show="myForm.email.$error.required">Email Field should not be Empty</span>
							<span ng-show="myForm.email.$error.email">Invalid Email Id</span>
						</span>

					</td>


				</tr>

				<tr>
					<td><button type="submit" name="submit" ng-click="postData()">Save</button></td>
					<td><button type="reset" name="reset" ng-click="resetData()">Reset</button></td>


				</tr>

				<tr><td>I clcked on {{clickname}}</td></tr>



			</table>
		</form>

	</div>
	<!--for data display-->
	<div>
		<span style="color: black">
			<span ng-bind="firstName"></span><br>
			<span ng-bind="lastName"></span><br>
			<span ng-bind="userEmail"></span><br>
		</span>


	</div>

	

	</body>
	</html>